<!DOCTYPE html>

<html lang="pt-br">
<%- include('./partials/head.ejs') %>


    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="not-found contet">
                <h1>OOPS...</h1>
                <p>Looks like you were looking for something that doesn't exist!</p>
            </div>
    </body>

    <%- include('./partials/footer.ejs') %>

</html>