<!DOCTYPE html>

<html lang="en-us">

<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

            <div class="about content">
                <h2>About us</h2>
                <p>Linux of Macau is a non-profit organization that aims to promote the use of Linux in Macau.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut expedita praesentium earum consequuntur
                    id a?</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut expedita praesentium earum consequuntur
                    id a?</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut expedita praesentium earum consequuntur
                    id a?</p>
            </div>


    </body>

    <%- include('./partials/footer.ejs') %>

</html>